Repository juhannc/beerpong, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, python, packaging, pre-commit, docs, tests, workflows, dependabot, labels

Sync all labels
  .github/workflows/labeler.yml
Labels: workflows, labels

Move everything to pyproject.toml as per PEP 621
  .pre-commit-config.yaml
  MANIFEST.in
  VERSION
  pyproject.toml
  setup.cfg
  setup.py
Labels: python, packaging, pre-commit

Try installing our package inside the container
  .github/workflows/docs.yml
Labels: workflows

Remove duplicate dependency lists
  docs/requirements.txt
  pyproject.toml
Labels: packaging, docs

Try to install the required packages
  .readthedocs.yaml
Labels: none

Install package and dependencies
  .github/workflows/docs.yml
Labels: workflows

Don't lint docs
  .github/workflows/pylint.yml
Labels: workflows

Manually install package
  .readthedocs.yaml
Labels: none

LEt's try if installing the package is sufficient
  .readthedocs.yaml
Labels: none

Initial documentation
  .github/workflows/docs.yml
  .readthedocs.yaml
  CHANGELOG.md
  docs/Makefile
  docs/changelog.rst
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/quickstart.rst
  pyproject.toml
Labels: python, packaging, docs, workflows

Remove myst parser, only install what's necessary
  .readthedocs.yaml
  README.md
  docs/conf.py
  docs/requirements.txt
  pyproject.toml
Labels: python, packaging, docs

Remove outdated workflow
  .github/workflows/docs.yml
Labels: workflows

Refactor score into own file and test
  beerpong/logic/bracket.py
  beerpong/logic/score.py
  tests/test_bracket.py
  tests/test_score.py
Labels: backend, python, tests

Improve password tests
  tests/test_team.py
Labels: python, tests

Create classes for a single bracket and a score
  beerpong/logic/bracket.py
  tests/test_bracket.py
Labels: backend, python, tests

Add a team class for the game logic
  beerpong/logic/__init__.py
  beerpong/logic/team.py
  tests/test_team.py
Labels: backend, python, tests

Use stronger hash
  beerpong/logic/team.py
Labels: backend, python

Make brackets binary-tree like
  .pre-commit-config.yaml
  beerpong/logic/bracket.py
  beerpong/logic/score.py
  pyproject.toml
  tests/test_bracket.py
Labels: backend, python, packaging, pre-commit, tests

Calculate the context: which test hits which line
  .github/workflows/pytest.yml
Labels: tests, workflows

Upper case letters are easier to read
  beerpong/logic/team.py
Labels: backend, python

Improve brackets and add flags for the tournament
  beerpong/logic/bracket.py
  tests/test_bracket.py
Labels: backend, python, tests

Improve documentation
  beerpong/logic/bracket.py
  beerpong/logic/score.py
  beerpong/logic/team.py
Labels: backend, python

Fix scores cannot be zero
  beerpong/logic/bracket.py
  beerpong/logic/score.py
Labels: backend, python

Rewrite additional deps for pre-commit.ci
  .pre-commit-config.yaml
Labels: pre-commit

Add logic files to API section
  docs/index.rst
Labels: docs

.github/labeler.yml:

frontend:
- beerpong/gui/**
- '**/*.ui'

backend:
- beerpong/logic/**

python:
- '**/*.py'
- '**/*.pyi'
- '**/*.pyx'

packaging:
- MANIFEST.in
- setup.py
- setup.cfg
- pyproject.toml
- VERSION

pre-commit:
- .pre-commit-config.yaml

docs:
- docs/**
- README.md

tests:
- tests/**
- .github/workflows/pytest.yml

workflows:
- .github/workflows/**

dependabot:
- .github/dependabot.yml

labels:
- .github/labeler.yml
- .github/workflows/labeler.yml
